/* Remove the x-axis scroll bar and set margin of entire document */
html,
body {
  overflow-x: hidden;
  margin: 0;
  height: auto;
  scroll-behavior: smooth;
}

/*Container for each major section of the web app*/
.container {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
  }

/* Positioning the canvas behing the overlay div*/
#container {
  position: relative;
}

#container canvas,
#overlay {
  position: absolute;
}

#overlay {
  width: 100%;
}

/* Navigation Links */
#navLinksDiv {
  margin: 0px;
  width: 100%;
  text-align: right;
}

#navLinksList {
  margin: 0px;
  padding: 0px;
  color: #9f838c;
  font-size: 6vw;
  padding-right: 25px;
  padding-top: 25px;
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
}

li {
  margin-bottom: 15px;
}

#navLinksList li a {
  text-decoration: none;
  padding: 5px 5px 0 5px;
  color: #9f838c;
}

a:hover{
  color: #9f838c9a;
}

a:visited {
  text-decoration: none;
  color: #9f838c;
}

.linkText {
  font-size: 2vw;
  position: relative;
  top: -1vw;
}

/*Information Div Styling */
#info {
  position: absolute;
  width: 75%;
  margin-left: 2vw;
}

#profileImg {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: 2px white solid;
}

#name {
  border-bottom: 4px #1d2d44 solid;
  padding: 1px;
  width: fit-content;
  color: #1d2d44;
  font-family: "Raleway", sans-serif;
  font-size: 6vw;
  margin: 0px;
}

.subtext {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
}

.anchor {
  position: absolute;
  transform: translateY(-50vh);
}

/*Sub-sections general styling*/
.subSection {
  text-align: center;
}

.sectionTitle {
  color: #1d2d44;
  font-family: "Raleway", sans-serif;
  font-size: 6vw;
  margin: 10px 0 30px 0;
}

/* Project listing styling */
.projectListings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
}

.projectDiv {
  width: 35%;
  padding: 2.5%;
  border: hidden #9f838c9a 5px;
  border-radius: 2px;
  box-shadow:  0 0 40px 5px #9f838c;
}

.projectTitle {
  color: #1d2d44;
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  margin: 5px;
}

.projectImg {
  width: 70%;
  margin: 15px 0;
  border: #cecbcb 2px solid;
  border-radius: 10px;
}

.projectLinks{
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5vw;
}

.projectLinks a{
    color: #1d2d44;
}

.projectDescription{
    width: 90%;
    margin-left: 5%;
    color: #1d2d44;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2vw;
}

/* Styling of the nav buttons */
.pageNavigation {
  width: 100%;
  padding-bottom: 15px;
  margin-right: 25px;
  position: absolute; 
}

.homeBtn {
  width: 100%;
  text-align: right;
  font-size: 50px;
}

.homeBtn a {
  margin-right: 10px;
  color: #9f838c;
}

.navLabelsProjects,
.navLabelsContact {
  width: 100%;
  text-align: right;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.navLabelsProjects a {
  margin-right: 15px;
  text-decoration: none;
  color: #9f838c;
}

.navLabelsContact a {
  padding: 15px;
  text-decoration: none;
  color: #9f838c;
}

/*Form Styling*/

#contactForm{
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  border-radius: 2px;
  padding: 1%;
  box-shadow:  0 0 50px 5px #9f838c;
}

#contactFormSentMessage{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  color: #1d2d44;
}

label{
  display: block;
  width: 100%; 
  color: #1d2d44;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  text-align: left;
  padding-bottom: 10px;
}

input, textarea{
  width: 90%;
  margin-left: 5%;
  border: 2px solid #1d2d44;
  border-radius: 5px;
  font-size: 1.5vw;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 25px;
  resize: vertical;
}

input[type="submit"]{
  border: none;
  width: 25%;
  height: 40px;
  background-color: #a38991; 
  font-family: "Raleway", sans-serif;;
  font-size: 1.5vw;
  color: white;
}

input[type="submit"]:hover{
  box-shadow: 0 0 10px 5px #9f838c44;
}


/* Media Queries to Account for Screen Size*/

@media only screen and (max-width: 992px) {
    /* Information Div adjusted*/
    #profileImg {
      width: 20vw;
      height: 20vw;
      margin-bottom: 10px;
    }
    #name {
      font-size: 7vw;
    }
    .subtext {
      font-size: 2.5vw;
    }
    /* Contact Form Styling */
    #contactForm{
      margin-top: 100px;
    }
  }

@media only screen and (max-width: 768px) {
  /*Navigation Menu font sizes adjusted */
  #navLinksList {
    font-size: 10vw;
  }
  .linkText {
    font-size: 3vw;
  }

  /* Information Div adjusted*/
  #profileImg {
    width: 25vw;
    height: 25vw;
  }
  #name {
    font-size: 7vw;
  }
  .subtext {
    font-size: 3vw;
  }
  /* Project Listings adjusted*/
  .projectListings {
    margin-top: 0px;
  }
  .projectDiv {
    width: 55%;
    padding: 2.5%;
    border: hidden #9f838c9a 5px;
    border-radius: 2px;
    box-shadow:  0 0 40px 5px #9f838c;
    margin-bottom: 15px;
  }

   /* Contact Form Styling */
   #contactForm{
    margin-top: 150px;
  }
}

@media only screen and (max-width: 576px) {
  /*Navigation Menu font sizes adjusted */
  #navLinksList {
    font-size: 10vw;
  }
  .linkText {
    font-size: 3vw;
  }

  /* Information Div adjusted*/
  #profileImg {
    width: 25vw;
    height: 25vw;
  }
  #name {
    font-size: 8vw;
  }
  .subtext {
    font-size: 3.5vw;
  }
/* Project Listings adjusted*/
  .projectListings {
    margin-top: 0px;
  }
  .projectDiv {
    width: 75%;
    padding: 2.5%;
    border: hidden #9f838c9a 5px;
    border-radius: 2px;
    box-shadow:  0 0 40px 5px #9f838c;
    margin-bottom: 25px;
  }
  .projectDescription{
    font-size: 1.75vw;
}
/*Contact form styling*/
#contactForm{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 150px;
  border-radius: 2px;
  padding: 1%;
  box-shadow:  0 0 50px 5px #9f838c;
}
label{
  width: 100%; 
  font-size: 3.5vw;
}
input{
  font-size: 3vw;
}

input[type="submit"]{
  font-size: 3vw;
}
}

